@font-face {
    font-family: Consolas;
    src: url('../fonts/consola.ttf');
}

body {
    background-image: url('../images/background.jpg');
    margin: 0;
    padding: 0;
    font-family: Consolas, serif;
}

.centered{
    width: 400px;
    margin: auto;
    display: block;
}

.divider-center{
    font-size: 36px;
    margin: 10px;
    text-align: center;
}