@mixin button($border_color, $bg_color, $text_color, $hover_color) {
    display: block;
    text-align: center;
    text-decoration: none;
    border: solid 2px $border_color;
    background: $bg_color;
    padding: 5px;
    font-size: 23px;
    color: $text_color;
    &:hover {
        background: $hover_color;
    }
    cursor: pointer;
}

.button {
    @include button(
                    #000,
                    #fff,
                    #000,
                    #f0f0f0
    );
}

.button-green {
    @include button(
                    rgba(darken(#0f0, 30%), 1),
                    rgba(lighten(#0f0, 10%), .9),
                    rgba(#fff, 1),
                    rgba(darken(#0f0, 5%), .9)
    );
}

.button-red {
    @include button(
                    rgba(darken(#f00, 30%), 1),
                    rgba(lighten(#f00, 15%), .9),
                    rgba(#fff, 1),
                    rgba(lighten(#f00, 20%), .9)
    );
}

.button-gray {
    @include button(
                    rgba(lighten(#000, 45%), 1),
                    rgba(lighten(#000, 65%), .9),
                    rgba(#fff, 1),
                    rgba(lighten(#000, 45%), .9)
    );
}

.main {
    visibility: hidden;
}