.form {
    input, a{
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        outline: none;
    }
    input[type=text],
    input[type=password],
    input[type=email],
    input:-webkit-autofill {
        &:focus{
            border-color: lighten(#000, 25%);
        }
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        padding: 5px;
        text-align: center;
        font-size: 23px;
    }
    &_error-row{
        text-align: center;
        font-size: 23px;
        padding: 3px;
        color: white;
        background-color: lighten($color_orange, 20%);
    }
}