.form {
    input, a{
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        outline: none;
    }
    .input-field {
        &:focus{
            border-color: lighten(#000, 25%);
        }
        padding: 5px;
        text-align: center;
        font-size: 23px;
    }
    &_error-row {
        text-align: center;
        font-size: 23px;
        padding: 3px;
        color: white;
        background-color: lighten($color_orange, 20%);
    }
}