.logo{
    h1{
        padding-top: 7px;
        font-size: 45px;
    }
    margin: auto;
    max-width: 400px;
    min-width: 200px;
    text-align: center;
    background: $logo_background_color;
    color: $logo_text_color;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
