.logo{
    h1{
        padding-top: 7px;
        font-size: 45px;
    }
    margin: auto;
    @media screen and (max-width: 450px) {
        width: 100%;
    }
    @media screen and (min-width: 450px){
        max-width: 400px;
        min-width: 300px;
    }
    text-align: center;
    background: $logo_background_color;
    color: $logo_text_color;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
