div(class="logo")
    h1 bacter.io
div(class="base-width centered outer-container" id="signup")
    div(class="form")
        form(action="" id="signup-form")
            input(type="text" name="login" placeholder="Your Login")
            input(type="email" name="email" placeholder="Your Email")
            input(type="password" name="password" placeholder="Your Password")
            input(type="password" name="password-repeat" placeholder="Repeat Password")
            input(type="submit" class="button-green signin-button" value="Sign up")
    div(class="divider-line")
    div(class="columns")
        div
        div
            a(href="/" class="button-green") Main menu