div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width outer-container" id="signup")
    div(class="form")
        form(action="" id="signup-form")
            input(type="text" class="input-field" name="login" placeholder="Login")
            input(type="email" class="input-field" name="email" placeholder="Email")
            input(type="password" class="input-field" name="password" placeholder="Password")
            input(type="password" class="input-field" name="password-repeat" placeholder="Password again")
            div(class="columns")
                a(href="/" class="button_color_gray") Back
                input(type="submit" class="button_color_red" value="Sign up")
