h1(class='username') #{user.name}
div(class='divider-line')
table(class='scores')
    tbody
        tr
            td(class='user') Email:
            td(class='score') #{user.email}
        tr
            td(class='user') Score:
            td(class='score') #{user.score}