div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width outer-container" id="login")
    div(class="form")
        form(action="" id="login-form")
            input(type="text" class="input-field" name="login" placeholder="Login")
            input(type="password" class="input-field" name="password" placeholder="Password")
            div(class="columns")
                div
                    input(type="submit" class="button_color_green" value="Sign in")
                div
                    a(href="/signup" class="button_color_red") Sign up
br
br
br
div(class="base-width outer-container" id="login")
    div(class="columns")
        div
            a(href="/top" class="button_color_green") Top players
        div
            a(href="/about" class="button_color_gray") About
