div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width centered outer-container" id="login")
    div(class="form")
        form(action="" id="login-form")
            input(type="text" name="login" placeholder="Login")
            input(type="password" name="password" placeholder="Password")
            div(class="columns")
                div
                    input(type="submit" class="button-green signin-button" value="Sign in")
                div
                    a(href="/signup" class="button-red button signup") Sign up

div(class="spacer")

div(class="buttons-block base-width centered outer-container" id="login")
    div(class="columns")
        div
            a(href="/top" class="button-green") Top players
        div
            a(href="/about" class="button-gray") About
div(class='error-node')