.profile{
    h1{
        color: #fff;
        text-align: center;
    }
    &_template{
        &-username{
            text-align: center;
            font-size: 30px;
        }
        table{
            width: 100%;
            td{
                width: 50%;
                padding: 5px;
            }
            td:first-child{
                text-align: right;
            }
            td:last-child{
                text-align: left;
            }
        }
        color: #fff;
    }
}
