div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width outer-container")
    div(class="columns")
        div
            a(href="/game" class="button_color_green") Tutorial
            br
            a(href="/game" class="button_color_green") Vs computer
        a(href="/game" class="button_color_red") Vs player

br
div(class="base-width outer-container profile" id="profile")
    div(class="profile_template")
        h1(class='profile_template-username') #{user.name}

        table
            tbody
                tr
                    td(class='user') Score:
                    td(class='score') #{user.score}

br
div(class="base-width outer-container")
    div(class="columns")
        div
            a(href="#" class="button_color_gray logout") Logout
        div
            a(href="/top" class="button_color_green") Top players