div(class="logo")
    h1 bacter.io
div(class="base-width centered outer-container profile" id="profile")
    div(class="profile-template")
        h1(class='username') #{user.name}
        div(class='divider-line')
        table(class='scores')
            tbody
                tr
                    td(class='user') Email:
                    td(class='score') #{user.email}
                tr
                    td(class='user') Score:
                    td(class='score') #{user.score}
    a(href="/game" class="button-red") Play!!
    div(class="divider-line")
    div(class="columns")
        div
            a(href="/top" class="button-green") Top players
        div
            a(href="#" class="button-red logout") Logout