div(class="spacer")
div(class="base-width centered outer-container games-list")
    a(class="btn-create-game button-green") Create Game
    div(class="spacer")
    div(class="spacer")
    div(class="games-container")

div(class="spacer")
div(class="columns base-width")
    div(class="half-width centered outer-container")
            a(href="/profile" class="button-gray") Back