div(class="game")
    div(class="game_scores-block")
        div(class="game_player-info game_user-info" align="right")
            h1(class='game_user-name game_player-name') #{username}
            div(class="outer-container half_width game_score-user left")
                h2(class='game_player-score') 0

        div(class="game_player-info game_opponent-info" align="left")
            h1(class='game_opponent-name game_player-name') #{opponent}
            div(class="outer-container half_width game_score-opponent")
                h2(class='game_opponent-score') 0

    div(class="game_main_container")

        div(class="base-width game_score_and_end")
            div(class="outer-container game_score-user-small left")
                h2(class='game_player-score') 0

            div(class="outer-container game_end-turn")
                a(class="button-red") End Turn

            div(class="outer-container game_score-opponent-small")
                h2(class='game_opponent-score') 0
            //- div(class="game_timebar")
        br
        div(class="base-width centered outer-container")
            div(class="game_field")
                canvas(class="game_field-grid")
                canvas(class="game_field-field")

br

div(class="columns base-width")
    div(class="half-width centered outer-container")
            a(href="/profile" class="button-green") Back

