- var i = 0;
each game in games
    div
        div(class="game_lobby_container")
            div(class="columns outer-container")
                div
                    h3(class="half-width") #{game.rating}
                div
                    h2(class="base-width") #{game.username}
                div
                    a(class="button-green btn-game-item" data-name=game.username) join

    div(class="spacer")
    if (++i < games.length)
        div(class="spacer")
else
    div(class="game_lobby_container columns")
        div
            h2 No existing games. Make one! 
