div(class="spacer")
div(class="base-width centered outer-container games-list")
    a(class="create-game button-green") Create Game
div(class="spacer")
div(id="games-container" class="base-width centered outer-container")

div(class="spacer")
div(class="columns base-width")
    div(class="half-width centered outer-container")
            a(href="/profile" class="button-gray") Back
