div(class="spacer")

div(class="base-width outer-container")
    h1(class="game_lobby_container") #{message}

div(class="spacer")

div(class="columns base-width")
    div(class="half-width outer-container")
            a(href="/profile" class="button-gray") Back
