div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width centered outer-container tutorial" id="tutorial")
    h2(class="tutorial_subheader") How to play
    div(class="tutorial_text")
        | 1. You have a field of <b>colored</b> and <b>blank</b> cells. <br> <br>
        | 2. You need to select rectangle and press 'End turn' button. <br> <br>
        | 3. Field will be updated in area you and your opponent selected, but <b>not</b> in their intersection. <br> <br>
        | 4. Each cell has 8 neighbors. <br> <br>
        | 5. Blank cell will be colored on update, if it has <b>exacly</b> 3 colored neighbors. <br> <br>
        | 6. Colored cell will be blank on update, if it has less than 2 or more than 3 colored neighbors. <br> <br>
        | 7. Small dots in cells shows its state on next turn if they will be updated. <br> <br>
        | 8. Your side is left. Your <b>objective</b> is to get <b>double number</b> of opponent colored cells on your side. <br> <br>
br

div(class="columns base-width")
    div(class="half-width centered outer-container")
        a(href="/" class="button-green") Back

br
br
