
$break_size: 800px;
@mixin breakpoint_min($point) {
    @media screen and (min-width: $point) { @content ; }
}

@mixin breakpoint_max($point) {
    @media screen and (max-width: $point) { @content ; }
}

.game {
    display: flex;
    justify-content: center;

    // flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    @include breakpoint_min($break_size) {
    }

    &_user-info {
        order: 1;
        flex: 1;
        display: inline-block;
    }

    &_main_container {
        flex: 2;
        order: 5;
        @include breakpoint_min($break_size) {
            order: 2;
        }
    }

    &_opponent-info {
        order: 3;
        flex: 1;
        display: inline-block;
    }

    &_player-name {
        box-sizing: border-box;
        color: $secondary_bg;
        text-align: right;
        margin-right: 10%;
        width: 80% !important;

    }

    &_opponent-name {
        box-sizing: border-box;
        color: $secondary_bg;
        text-align: left;
        margin-left: 10%;
    }

    &_score {
        max-width: 100px;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 32px;
        }
        &-user {
            @extend .game_score;
            margin-right: 10%;
        }
        &-opponent {
            @extend .game_score;
            margin-left: 10%;
        }
    }

    // &_opponent_score {
    //     margin-left: 10%;
    //     max-width: 100px;
    //     h2 {
    //         text-align: center;
    //         color: #fff;
    //         font-size: 32px;
    //         padding: 0;
    //         margin: 0;
    //     }
    // }

    &_timebar {
        // $time: 100;
        background: hsl(150, 50%, 50%);
        width: 100%;
        height: 25px;
    }

    &_field{
        &-grid, &-field{
            margin:  auto;
            padding: auto;
            position: absolute;
            z-index: 2;
        }
        width: 450px;
        height: 450px;
        padding: 0 10px;
        margin: auto;
    }
}
