$break_size: 800px;
@mixin breakpoint_min($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}

@mixin breakpoint_max($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

@keyframes time-animation {
    from {
        background-size: 0% 100%;
        filter: hue-rotate(120deg);
    }
    to {
        background-size: 100% 100%;
        filter: hue-rotate(0deg);
    }
}

$paddingSides: 20px;
$paddingTop: 20px;

.game {
    position: relative;
    margin: auto;

    &_end-turn.disabled {
        pointer-events: none;
        // background: #00ff00;
        // background: darken($color_orange, 90%);
        background-size: 0% 0%;

    }

    &_end-turn {
        @media (max-width: 1000px) {
            width: 100%;
        }
        > a {
        background-image: url('./images/pixel.png');
        background-size: 00% 100%;
        background-position-x: right;
        background-repeat: no-repeat;
        animation: time-animation;
        animation-duration: 20s;
        animation-timing-function: linear;
        }
    }

    &_end-turn:hover {
        @media (max-width: 1000px) {
            width: 100%;
        }
        > a {
        background-image: url('./images/pixel.png');
        background-size: 0% 100%;
        background-position-x: right;
        background-repeat: no-repeat;
        animation: time-animation;
        animation-duration: 20s;
        animation-timing-function: linear;
        }
    }

    @media (min-width: 1200px) {
        width: 1200px;
    }

    @media (max-width: 1000px) {
        &_opponent-score {
            margin-top: 10px;
        }
        &_player-score {
            margin-top: 10px;
        }
    }
    &_score {
        &-user-small {
            @media (max-width: 1000px) {
                width: 30%;
                margin-right: 10px;
                height: 40px;
            }
            @media (min-width: 1000px) {
                display: none;
            }
        }
        &-opponent-small {
            @media (max-width: 1000px) {
                width: 30%;
                margin-left: 10px;
                height: 40px;
            }
            @media (min-width: 1000px) {
                display: none;
            }
        }
    }

    &_end-turn {
        @media (min-width: 1000px) {
            width: 100%;
        }
    }

    @media (max-width: 1000px) {
        &_scores-block{
            & > div{
                width: 50%;
            }
            width: 100%;
            .outer-container{
                @media (min-width: 1000px) {
                    display: inline-block;
                    padding: 5px;
                }
            }
            h2{
                margin: 0;
            }
            box-sizing: border-box;
            margin-bottom: 5px;
        }

        &_player-name {
            font-size: 25px;
            margin: 5px;
        }
        &_player-info {
            text-align: center;
            padding: 5px;
            box-sizing: border-box;
        }
        &_user-info {
            display: inline-block;
        }
        &_opponent-info {
            display: inline-block;
        }
        &_score {
            &-user-small {
                @media (max-width: 1000px) {
                    width: 30%;
                    margin-right: 10px;
                }
                color: red;
                @media (min-width: 1000px) {
                    display: none;
                }

                margin: auto;
            }
            &-opponent-small {
                @media (max-width: 1000px) {
                    width: 30%;
                    margin-left: 10px;
                }
                @media (min-width: 1000px) {
                    display: none;
                }
                margin: auto;
            }
            &-user h2, &-opponent h2 {
                font-size: 25px;
                margin: 5px;
            }

            @media (max-width: 1000px) {
                &-user {
                    display: none;
                }

                &-opponent {
                    display: none;
                }
            }

        }

        &_score_and_end {
            display: flex;
        }

    }
    @media (min-width: 1000px) {
        // &_score_and_end {
        //     display: flex;
        // }

        &_player-info {
            position: absolute;
        }
        &_user-info {
            text-align: left;
        }
        &_opponent-info {
            text-align: right;
        }
        &_score {
            &-user {
                margin-right: 10%;
                display: inline-block;
            }
            &-opponent {
                margin-left: 10%;
                display: inline-block;
            }
            &-user h2, &-opponent h2 {
                font-size: 32px;
                margin: 20px;
            }
        }
    }

    &_score {
        background: #ff0000 !important;
        max-width: 100px;
        &-user, &-opponent{
            padding: 0;
        }
        &-user h2, &-opponent h2, &-user-small h2, &-opponent-small h2 {
            text-align: center;
            color: #fff;
            padding: 0;
        }
    }

    &_user-info {
        left: $paddingSides;
        top: $paddingTop;
    }

    &_opponent-info {
        right: $paddingSides;
        top: $paddingTop;
    }

    &_player-name {
        box-sizing: border-box;
        color: $secondary_bg;
        white-space: nowrap;
    }

    &_user-name {
        margin-right: 10%;
    }

    &_opponent-name {
        margin-left: 10%;
    }

    &_field {
        &-grid, &-field {
            margin: auto;
            padding: auto;
            position: absolute;
            z-index: 2;
        }
        @media (min-width: 450px) {
            height: 450px;
            width: 450px;
        }
        @media (max-width: 450px) {
            height: 100vw;
        }
        padding: 0 10px;
        margin: auto;
    }

}
