$break_size: 800px;
@mixin breakpoint_min($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}

@mixin breakpoint_max($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

$paddingSides: 50px;
$paddingTop: 20px;

.game {
    min-width: 343px;
    position: relative;
    margin: auto;

    @media (min-width: 1000px) {
        width: 1000px;
    }

    @media (max-width: 950px ) {
        &_scores-block{
            & > div{
                width: 50%;
            }
            width: 100%;
            .outer-container{
                display: inline-block;
                padding: 10px;
            }
            h2{
                margin: 0;
            }
            margin-bottom: 10px;
        }
        &_player-info {

        }
        &_user-info {
            text-align: left;
            display: inline-block;
        }
        &_opponent-info {
            text-align: right;
            display: inline-block;
        }
    }
    @media (min-width: 950px) {
        &_player-info {
            position: absolute;
        }
        &_user-info {

        }
        &_opponent-info {

        }
    }
    &_user-info {
        left: $paddingSides;
        top: $paddingTop;
    }

    &_opponent-info {
        right: $paddingSides;
        top: $paddingTop;
    }

    &_player-name {
        box-sizing: border-box;
        color: $secondary_bg;
        white-space: nowrap;
    }

    &_user-name {
        margin-right: 10%;
    }

    &_opponent-name {
        margin-left: 10%;
    }

    &_score {
        max-width: 100px;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 32px;
        }
        &-user {
            @extend .game_score;
            margin-right: 10%;
        }
        &-opponent {
            @extend .game_score;
            margin-left: 10%;
        }
    }

    &_field {
        &-grid, &-field {
            margin: auto;
            padding: auto;
            position: absolute;
            z-index: 2;
        }
        @media (min-width: 450px) {
            height: 450px;
            width: 450px;
        }
        @media (max-width: 450px) {
            height: 100vw;
        }
        //box-sizing: content-box;
        padding: 0 10px;
        margin: auto;
    }

}

//
//.game {
//    &_main_container {
//        flex: 2;
//        order: 5;
//        @include breakpoint_min($break_size) {
//            order: 2;
//        }
//    }
//
//    &_opponent-info {
//        order: 3;
//        flex: 1;
//        display: inline-block;
//    }
//
//    &_player-name {
//        box-sizing: border-box;
//        color: $secondary_bg;
//        text-align: right;
//        margin-right: 10%;
//    }
//
//    &_opponent-name {
//        box-sizing: border-box;
//        color: $secondary_bg;
//        text-align: left;
//        margin-left: 10%;
//    }
//
//    &_score {
//        max-width: 100px;
//        h2 {
//            text-align: center;
//            color: #fff;
//            font-size: 32px;
//        }
//        &-user {
//            @extend .game_score;
//            margin-right: 10%;
//        }
//        &-opponent {
//            @extend .game_score;
//            margin-left: 10%;
//        }
//    }
//
//    // &_opponent_score {
//    //     margin-left: 10%;
//    //     max-width: 100px;
//    //     h2 {
//    //         text-align: center;
//    //         color: #fff;
//    //         font-size: 32px;
//    //         padding: 0;
//    //         margin: 0;
//    //     }
//    // }
//
//    &_timebar {
//        // $time: 100;
//        background: hsl(150, 50%, 50%);
//        width: 100%;
//        height: 25px;
//    }
//
//    &_field{
//        &-grid, &-field{
//            margin:  auto;
//            padding: auto;
//            position: absolute;
//            z-index: 2;
//        }
//        width: 450px;
//        height: 450px;
//        padding: 0 10px;
//        margin: auto;
//    }
//}
