br

div(class="game columns")
    div
        div(class="columns")
            div
            div
                h1(class='game__player-name') Player 1
                div(class="half_width game__player-score outer-container")
                    h2 5
    div
        div(class="base-width outer-container")
            div(class="game__timebar")
        br
        div(class="base-width outer-container")
            canvas(class="game-field")
            canvas(class="stroke")
    div
        div(class="columns")
            div
                h1(class='game__player-name') Player 2
                div(class="half_width game__player-score outer-container")
                    h2 12
            div

br

div(class="columns base-width")
    div(class="half-width outer-container")
            a(href="/profile" class="button_color_green") Back

