br

div(class="game columns")
    div
        div(class="columns")
            div
            div
                h1(class='game_player-name') #{username}
                div(class="half_width game_score left outer-container")
                    h2(class='game_player-score') 0
    div
        div(class="base-width centered outer-container")
            a( class="button-red game_end-turn") End Turn
            //div(class="game_timebar")
        br
        div(class="base-width centered outer-container")
            div(class="game_field")
                canvas(class="game_field-grid")
                canvas(class="game_field-field")
    div
        div(class="columns")
            div
                h1(class='game_player-name') Player 2
                div(class="half_width game_score outer-container")
                    h2(class='game_opponent-score') 0
            div

br

div(class="columns base-width")
    div(class="half-width centered outer-container")
            a(href="/profile" class="button-green back") Back

