div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width outer-container top-players" id="top")
    h2(class="top-players_header") Top
    div(class="divider-line")
    table(class='top-players_scores')
        thead
            tr
                th(class='user') Username
                th(class='score') Score

        tbody
            each user in users
                tr
                    td(class='user') #{user.name}
                    td(class='score') #{user.score}

br

div(class="columns base-width")
    div(class="half-width outer-container")
        if authorized
            a(href="/profile" class="button_color_green") Profile
        else
            a(href="/" class="button_color_green") Back

br
br
