.about {
    color: #fff;
    &_subheader{
        display: block;
        text-align: center;
        font-size: 30px;
    }
    &_text{
        padding: 0 30px;
    }
}
.about_text {
    white-space: pre;
}