div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width centered outer-container about" id="about")
    h2(class="about_subheader") About
    div(class="about_text")
        | Abstract tactical turn-based game based on Conway's Game of Life by MoonFaces <br>
        | <br>
        | Project special for Technopark 2017 <br>
        | <br>
        | MoonFaces: <br>
        a(href='https://github.com/EienKotonaru' target='_blank' data-link='external') EienKotonaru <br>
        a(href='https://github.com/MainSkynetHackPro' target='_blank' data-link='external') MainSkynetHackPro <br>
        a(href='https://github.com/777AvEnGeR777' target='_blank' data-link='external') 777AvEnGeR777 <br>
        a(href='https://github.com/Praron' target='_blank' data-link='external') Praron <br>
        | <br>
        | Our principles: <b>hating</b> PHP, <b>loving</b> free coffee and making <b>cool</b> games <br>
        | <br>
        | This game is <b>open source</b>! 
        a(href='https://github.com/frontend-park-mail-ru/2017_2_MoonFaces' target='_blank' data-link='external') <b>GitHub</b>

    br
br

div(class="columns base-width")
    div(class="half-width centered outer-container")
            a(href="/" class="button-green") Back

br
br
