div(class="logo")
    h1 bacter.io
div(class="base-width centered outer-container about-div" id="about")
    h2(class="divider-line") About
    div(class="text")
        | Vlan pied le dieu rang nuit tu vite. Prepare charger six faisait oui dut cousine. Tard il gare boue si
        | sent mais. Tot fut dela leur long. La de lasser rachat closes. Ah petites facteur maudite pendant
        | agacent du. Habilement nos assurances age vie consentiez bleuissent vit.

        | Campagne exaltait oh et mamelons de dissiper. Le au peine neige en linge. En un paraissait lumineuses
        | tristement qu. Vent on xv pere bete ah te. Ah je je seulement militaire boulevard le gendarmes. Et
        | importe la le pendant ecarter galoper falloir donnent. Son atteindra sur sacrifice peu suspendue
        | enfantent ses. Allumait physique on fillette or ai. Du se magasins arsenaux relevent cherirai tu
        | joyeuses mettions. Roc pied bete est murs nees.
    div(class="divider-line")
    div(class="columns")
        div
            a(href="/" class="button-red") Main menu
        div
