div(class="logo")
    h1(class="logo_header") bacter.io
div(class="base-width centered outer-container about" id="about")
    h2(class="about_subheader divider-line") About
    div(class="about_text")
        | New generation competitive game by MoonFaces Team
        | Project special for Technopark 2017
        |
        | MoonFaces:
        |
        a(href='github.com/EienKotonaru') EienKotonaru
        |
        |
        a(href='github.com/MainSkynetHackPro') MainSkynetHackPro
        |
        |
        a(href='github.com/777AvEnGeR777') 777AvEnGeR777
        |
        |
        a(href='github.com/Praron') Praron
        |
        |
        | Our principles: hating PHP, love free coffee
        | and making cool games
        |
        | This game is open source! 
        a(href='https://github.com/frontend-park-mail-ru/2017_2_MoonFaces') GitHub
    div(class="divider-line")

br

div(class="columns base-width")
    div(class="half-width centered outer-container")
            a(href="/" class="button-green") Back

br
br
