$secondary_bg: rgba(#000, 0.9);
$logo_background_color: $secondary_bg;//rgba(lighten(#000, 50%), .8);
$logo_text_color: #fff;
$color_green: #397522;
$color_orange: #ad3d00;
$switch_theme_icon: url('./images/sun.png');
$switch_theme_hover_color: rgba(#545ab1, 0.9);

@import "sass/base";
@import "sass/logo";
@import "sass/form";
@import "sass/columns";
@import "sass/buttons";
@import "views/about-view/about";
@import "views/top-view/top_players";
@import "views/profile-view/profile";
@import "modules/themes/themes";