$secondary_bg: rgba(#555599, 0.9);
$logo_background_color: $secondary_bg;//rgba(lighten(#000, 50%), .8);
$logo_text_color: #fff;
$color_green: #2BFF39;
$color_orange: #DD1234;
$switch_theme_icon: url('./images/moon.png');
$switch_theme_hover_color: #000;

@import "sass/base";
@import "sass/logo";
@import "sass/form";
@import "sass/columns";
@import "sass/buttons";
@import "blocks/about/about";
@import "blocks/top/top_players";
@import "blocks/profile/profile";
@import "modules/themes/themes";