$secondary_bg: rgba(#555599, 0.9);
$logo_background_color: $secondary_bg;//rgba(lighten(#000, 50%), .8);
$logo_text_color: #fff;
$color_green: #2BFF39;
$color_orange: #DD1234;
$switch_theme_icon: url('./images/moon.png');
$switch_theme_hover_color: #000;
$theme_color: #fff;

@import "sass/base";
@import "sass/logo";
@import "sass/form";
@import "sass/columns";
@import "sass/buttons";
@import "views/about-view/about";
@import "views/top-view/top_players";
@import "views/profile-view/profile";
@import "views/game-view/game";
@import "modules/themes/themes";
@import "modules/error-popup/error";