table(class='scores')
    thead
        tr
            th(class='user') Username
            th(class='score') Score

    tbody
        each user in users
            tr
                td(class='user') #{user.name}
                td(class='score') #{user.score}